JSON_FILE=mgi_confidential.json
ENCODING=utf-8

# All config data can be found on oai.azure.com
AZURE_OPENAI_ENDPOINT=https://testrecource.openai.azure.com/
AZURE_OPENAI_VERSION=2023-10-01-preview
AZURE_OPENAI_KEY=your_api_key