<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promptathon</title>
    <style>
      .container {
        margin: 30px auto;
        max-width: 800px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <label for="promptCount">Anzahl der Prompts:</label>
      <select
        id="promptCount"
        name="promptCount"
        onchange="updateInputFields()"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <div id="inputContainer"></div>
    </div>

    <script>
      number_of_prompts = 1;
      prompt;

      function updateInputFields() {
        var numberOfPrompts = document.getElementById("promptCount").value;
        var container = document.getElementById("inputContainer");
        container.innerHTML = "";

        for (var i = 0; i < numberOfPrompts; i++) {
          container.innerHTML +=
            "Prompt " +
            (i + 1) +
            ": <input type='text' name='prompt" +
            i +
            "'><br>";
        }

        number_of_prompts = numberOfPrompts;
      }
      document.addEventListener(
        "DOMContentLoaded",
        function () {
          updateInputFields();
        },
        false
      );
    </script>
  </body>
</html>
